.LoginPage
    display: flex
    height: 100vh


.left
    width: 82%
    background-image: url("https://i.ibb.co/0jLhGKs/background.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: left

    .about
        margin-top: 8rem
        color: white
        text-shadow: 2px 2px 2px #222222

        img
            width: 300px
            color: white
            filter: drop-shadow(1px 1px 1px #222222)
    .green
        color: #1f9b5c
    .blue
        color: #0573ba

    p
        background: black
        padding: 0.1rem
        width: fit-content
    
    .Help
        position: absolute
        left: 5px
        bottom: 5px


        span
            font-size: 1rem


.right
    background-color: #242424
    display: flex
    flex-direction: column
    justify-content: center
    width: 18%
    

    .formulary
        
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-content: center
        align-items: center
        width: 100%

        h3
            color: white
            font-size: 1.2rem
            text-align: center

        